body{
  margin: 0;
  padding:0;
}

@media screen and (min-width:1280px){/* 1280以上の時に適用 */
    header{
     position: relative;
     display:flex;
     justify-content:space-between;
     height: 60px;
    }
 
    nav ul{
     display:flex;
     justify-content:space-around;
     gap:30px;
     list-style: none;
    }

    .hnb{
        display: none;
    }
    .smIMG{
        display: none;
    }
    
    .main-content{
     background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top right;
    }
    .h1{
      font-size: 3.5rem;
    }
    .btn3{
    display: inline;
    padding: 20px;
    white-space: nowrap;
    text-align: center;
    border:solid silver;
    font-size: 17px;
    background-color: white;
    border-radius: 50vh;
}
}

@media screen and (min-width:601px) and (max-width:1279px){
    header{
     position: fixed;
     top:0;
     left:0;
     display:flex;
     justify-content:space-between;
     width: 100%;
     height: 60px;
     background-color: white;
     z-index: 90;
    }
    .PCmenu{
     display: none;
    }
    .drawer_hidden {
     display: none;
    }
    .smIMG{
        display: none;
    }

.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
 }

 .drawer_open span,
 .drawer_open span:before,
 .drawer_open span:after {
   content: '';
   display: block;
   height: 3px;
   width: 25px;
   background: black;
   transition: 0.5s;
   position: absolute;
 }

 .drawer_open span:before {
  bottom: 8px;
 }
 .drawer_open span:after {
  top: 8px;
 }
/*✖アイコンのアニメーション記述開始️*/
 #drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
 }
 #drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
 }
 #drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
  /*✖アイコンのアニメーション終わり️*/
 }

 .sm {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  display:flex;
  flex-flow: column;
  justify-content:center;
  align-items:center;
 }
 #drawer_input:checked ~ .sm {
  left: 0;/* メニューを画面に入れる */
 }
 
 nav ul{
   list-style: none;
   position: absolute;
   top: 0;
   left: 50;
   display:flex;
   flex-flow: column;
   justify-content:space-around;
   gap:40px;
 }
 
 rt{
    color: #ff9800;
}
 
 .FV-container{
   margin: initial;
   margin-top:60px;
 }
 .main-content{
     background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center;
  }
  .btn3{
    display: inline;
    padding: 20px;
    white-space: nowrap;
    text-align: center;
    border:solid silver;
    font-size: 17px;
    background-color: white;
    border-radius: 50vh;
}
  
  .about{
     flex-direction: column;
 }
  .VD{
   width:60%;
 }
}

@media screen and (max-width:600px){/*600以下の時に適用*/
    header{
     position: fixed;
     top:0;
     left:0;
     display:flex;
     justify-content:space-between;
     width: 100%;
     max-width: 100vw;
     height: 60px;
     background-color: white;
     z-index: 90;
    }
    .PCmenu{
        display: none;
    }
    .drawer_hidden {
     display: none;
    }
   

.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
 }

 .drawer_open span,
 .drawer_open span:before,
 .drawer_open span:after {
   content: '';
   display: block;
   height: 3px;
   width: 25px;
   background: black;
   transition: 0.5s;
   position: absolute;
 }

 .drawer_open span:before {
  bottom: 8px;
 }
 .drawer_open span:after {
  top: 8px;
 }
/*✖アイコンのアニメーション記述開始️*/
 #drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
 }
 #drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
 }
 #drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
 }
     /*✖アイコンのアニメーション終わり️*/

    .sm {
     width: 100%;
     height: 100%;
     position: fixed;
     top: 60px;
     left: 100%; /* メニューを画面の外に飛ばす */
     z-index: 99;
     background: black;
     background: rgba(0, 0, 0, 0.8);
     transition: 0.5s;
     display:flex;
     flex-flow: column;
     justify-content:center;
     align-items:center;
    }
    #drawer_input:checked ~ .sm {
     left: 0;/* メニューを画面に入れる */
    }
 
    nav ul{
      list-style: none;
      position: absolute;
      top: 0;
      left: 50;
      display:flex;
      flex-flow: column;
      justify-content:space-around;
      gap:40px;
    }

    .smIMG{
      width: 100%;
      max-width: 100vw;
      height: :auto;
      margin-top:60px;
      z-index: -1;
    }
 
    rt{
       color: #ff9800;
    }
    
   .FV-container{
     margin-top: -40%;
   }
   .main1{
     display: column;
     justify-content:center;
     align-items:center;
   }
    h1{
      font-size: 2rem;
    }
    .ITEM img{
     width:auto;
     max-width:90%;
     height:auto;
    }
    .btn3{
      display: none;
    }

    .about{
      flex-direction: column;
    }
    h3{
      margin: initial;
    }
}
 /*ここまでレスポンシブ*/


html{
  font-size: 62.5%;
}

body{
   font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
   width: fit-content;
   width:100%;
   position: relative;
}

nav li{
     font-weight: bold;
     font-size: 18px;
}
 
.ROGO{
  display: flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
}

a.B-N{
    color:black;
}

.W-N{
    color:white;
}

a.B-N:hover{
    color:gray;
}

a.W-N:hover{
    background-color:#FFA07A;
}

ruby{
    ruby-position:under;
    white-space: nowrap;
}

.btn1{
    display: flex;
    padding: 10px;
    height:20px;
    width:110px;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    background-color: #ff9800;
    border-radius: 50vh;
}

a{
    text-decoration: none;
}

main{
    height:auto;
    width:100%;
}

.FV-container{
   max-width: 1140px;
   widht:100%;
   padding:0px 50px;
   margin-left:  auto;
   margin-right: auto;
}

.main1{
    width: fit-content;
    height:auto;
    margin-bottom: 70px;
    font-size: 1.6rem;
    display: flex;
    flex-flow: column;
}

h1{
    text-align:center;
    float: left;
}

.ITEM{
    display: flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    max-width:100%;
}

.main-B{
    display: flex;
    justify-content:start;
    gap:20px;
    padding: 15px;
}

.btn2{
    display: inline;
    padding: 20px;
    white-space: nowrap;
    text-align: center;
    font-size: 17px;
    background-color: #ff9800;
    border-radius: 50vh;
}



h2{
    color:silver;
    font-size: small;
    font-weight: 100;
}

.about{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #ff9800;
    height: auto;
    width:100%;
    max-width: 100vw;
}

.VD{
    max-width: 90vw;
    margin:20px;
}

.VDT{
    text-align:left;
    width:540px;
    max-width: 90vw;
    height:auto;
    margin-left: 20px;
    padding:10px;
}

p{
   font-size:40px;
   margin-bottom:5px;
}

.POTEPAN{
    font-weight: bold;
}

h3{
    font-size:18px;
    font-weight:100;
}
.about__link{
  font-size: 18px;
}